$gray: #667085;
$gray2: #d0d5dd;
$gray3: #f9fafb;
$gray4: #eaecf0;
$gray5: #98a2b3;
$gray6: #475467;
$gray7: #344054;
$white: #fff;
$darkwhite: darken($white, 5%);
$blue: #1570ef;
$blue2: #1570ef;
$darkblue: darken($blue, 5%);
$blue2: #1d2939;
$blue3: #175cd3;
$black: #101828;
