---
import style from './style.module.scss'
---
<section class={style.information}>
    <section>
        <h2>Great products, faster than ever</h2>
        <p>Everything you need to build corporate and great products.</p>
    </section>
    <section>
        <div>
            <h3>400+</h3>
            <p>Projects completed</p>
        </div>
        <div>
            <h3>600%</h3>
            <p>Return on investment</p>
        </div>
        <div>
            <h3>10K</h3>
            <p>Global downloads</p>
        </div>
    </section>
</section>